<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="layout/layout :: head"></head>
    <body>
        <header th:replace="layout/layout :: header"></header>

        <div class="content">
            <div class="cardContent">
                <div class="cardHeader" th:text="${tituloCard}"></div>
                <div class="cardContainer">
                    <div class="dataProfileContainer">
                        <div class="imageProfile">
                            <img alt="IMAGEN NO DISPONIBLE" th:src="@{/img/userdefaultimage.png}" class="imageProfile"/>
                        </div>
                        <div>
                            <h2>Numero de control:</h2>
                            <h3 th:text="${secretaria.numeroDeControl}"></h3>
                        </div>
                        <div>
                            <h2>Nombre:</h2>
                            <h3 th:text="${secretaria.nombre} + ' ' + ${secretaria.apellido}"></h3>
                        </div>
                        <div>
                            <h2>Telefono:</h2>
                            <h3 th:text="${secretaria.telefono}"></h3>
                        </div>
                        <div>
                            <h2>Correo electronico:</h2>
                            <h3 th:text="${secretaria.correoElectronico}"></h3>
                        </div>
                        <div>
                            <h2>Carrera:</h2>
                            <h3 th:text="${nombreCarrera}"></h3>
                        </div>
                    </div>
                    <div class="extraDataProfileContainer" sec:authorize="hasRole('ROLE_JEFE')">
                        <a href="#">Cambiar contraseña</a>
                        <a class="generatePDFProfile" href="#">PDF </a>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="layout/layout :: footer"></footer>
    </body>
</html>
